* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-family: Arial, sans-serif;
    font-family: "Indie Flower", "Comic Sans", cursive;
}

body {
    font-size: 2rem;
}

h1 {
    padding: 2rem 0;
    font-family: Caveat, cursive;
    font-weight: 700;
    font-size: 7rem;
    background: url(images/lined_paper.jpg);
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    width: 33.3%;
    border: 1px solid black;
    text-align: center;
    list-style: none;
}

nav a, nav a:hover, nav a:visited, nav a:active {
    display: block;
    text-decoration: none;
}

figure, h1, #biography p {
    text-align: center;
}

figcaption {
    padding-top: 1rem;
    font-size: 1.5rem;
}

div#img-div {
    margin: 0 auto;
}

#biography {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 4rem;
}

#image {
    padding: 2rem;
    border: 5px solid black;
}