* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-family: Arial, sans-serif;
}

body {
    font-size: 1.2rem;
}

h1 {
    padding: 10px 0;
    font-family: Caveat, cursive;
    font-weight: 700;
    font-size: 3.1rem;
    background: url(images/lined_paper.jpg);
}

nav ul {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
}

nav li {
    width: 33.3%;
    border: 1px solid black;
    text-align: center;
    list-style: none;
    background-color: aliceblue;
}

nav a, nav a:hover, nav a:visited, nav a:active {
    display: block;
    padding: 8px;
    text-decoration: none;
    font-size: 1.7rem;
}

figure, h1, #biography p {
    text-align: center;
}

figcaption {
    font-size: 1rem;
}

section {
    min-height: 100vh;
}

#biography {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: snow;
}

#image {
    border: 2px solid black;
    border-radius: 12px;
    background-color: #87623f;
    margin: 5vh 1.5vh auto auto;
}

#tribute-info {
    margin-top: 4vh;
}

#tribute-info p:first-of-type {
    padding-bottom: 10px;
}

#gallery {
    background: linear-gradient(180deg, snow, gray);
}

/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #image {
        width: 180px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #image {
        width: 190px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #image {
        width: 250px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1370px) {
    html {
        font-family: "Indie Flower", Caveat, "Comic Sans", cursive;
    }

    body {
        font-size: 1.7rem;
    }

    h1 {
        font-size: 5rem;
    }

    figcaption {
        padding-top: 6px;
        font-size: 1.2rem;
    }

    #image {
        padding: 2rem;
        border: 5px solid black;
        width: 384px;
        box-shadow: 0 -5px 5px 5px black;
    }

    #tribute-info p:first-of-type {
        padding-bottom: 20px;
    }
}
