* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
    text-align: center;
    padding: 2rem 0;
}

figure {
    text-align: center;
}

figcaption {
    padding-top: 1rem;
}

div#img-div {
    margin: 0 auto;
}